<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>니모를 찾아서</title>
</head>
<body class="container">
<div class="form-container">
    <h1>정말로 회원 탈퇴하시겠습니까?</h1>
    <form action="#" th:action="@{/members/deleteOk}" method="post">
        <div>
            삭제할 계정의 ID와 비밀번호를 입력해주세요.
            <div>
                <label for="ID">ID : </label>
                <input type="text" id="ID" th:field="*{ID}"/>
            </div>
            <div>
                <label for="pw">비밀번호 : </label>
                <input type="password" id="pw" th:field="*{PW}" required/>
            </div>
            <div>
                <!--                <th block th:switch="${pw}">-->
                <!--                    <span th:case = "${true}">본인 확인되었습니다. 탈퇴 버튼을 눌러주세요.</span>-->
                <!--                    <span th:case = "${false}">잘못 입력하셨습니다. 탈퇴할 수 없습니다.</span>-->
                <!--                </th block>-->
            </div>
            <button type="submit">회원 탈퇴</button>
        </div>
        <a th:href="@{/mypage}">마이 페이지</a>
    </form>
</div>
</div>
</body>
</html>

<!-- 탈퇴는 고민 중입니다-->