<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/review_css/reviewStyle.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
<h2>메인 페이지</h2>
<a th:href="@{http://localhost:8111/emp/insert}">insert</a>
<div>
    <h1>분양 테이블</h1>
    <table>
        <thead>
        <tr>
            <th>pno</th>
            <th>제목</th>
            <th>글 내용</th>
            <th>image</th>
            <th>글쓴이</th>
            <th>글쓴이 아이디</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pp : ${plist}">
            <td th:text="${pp.pno}" th:name="pno" th:value="${pp.pno}"></td>
            <td>
                <a th:href="@{/detailPage(pno=${pp.pno})}" th:text="${pp.title}"></a>
                <!--                여기서 detailPage 부분에 parcel 상세 페이지 링크 넣어주세요-->
            </td>
            <td th:text="${pp.content}"></td>
            <td th:text="${pp.image}"></td>
            <td th:text="${pp.nickname}"></td>
            <td th:text="${pp.members_id}"></td>
        </tr>
        <tr>
            <td>
                <a th:href="@{http://localhost:8111/parcel/pboard}">더 많은 분양글 보기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h1>후기 테이블</h1>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${rlist}">
            <td th:text="${review.rno}"></td>
            <td th:text="${review.reviewID}"></td>
            <td>
                <a th:href="@{/review/reviewDetail(rno=${review.rno})}" th:text="${review.reviewTitle}"></a>
                <!-- a 태그로 후기 상세페이지 연결하는 a태그 -->
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{http://localhost:8111/review/reviewBoard}">더 많은 후기글 보기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>