<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIND NIMO!</title>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
</head>
<div th:replace="fragments/header::header"></div>
<body class="container">
<div class="wrap">
    <div class="cont" style="width : 70%;height: 80%;">
        <div class="boardLogin">
                <h1>마이 페이지</h1>
            <div class="board">
                <div class="four">
                    <a th:href="@{/mypage/modify}" class="item">회원 정보 수정</a>
                    <a th:href="@{/mypage/myParcel}" class="item">나의 분양 게시판</a>
                    <a th:href="@{/mypage/mypageReview}" class="item">나의 후기 게시판</a>
                    <a th:href="@{/mypage/deleteConfirm}" class="item">회원 탈퇴</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>

<!--http://localhost:8111/mypage/mypageMain-->