<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>니모를 찾아서</title>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
</head>
<body class="container">
<h1>마이 페이지</h1>
<div class="form-container">
    <h2><span style="color: #d2691e; ">내 정보 수정</span></h2>
    <form th:action="@{/mypage/modify}" th:object="${mypageInfo}" method="post">
        <div>
            <label for="mypagePW">패스워드</label>
            <input type="text" id="mypagePW" th:value="${mypageInfo.PW}" th:field="*{PW}" />
        </div>
        <div>
            <label for="mypagePhone">전화번호</label>
            <input type="text" id="mypagePhone" th:value="${mypageInfo.PHONE}" th:field="*{PHONE}" />
        </div>
        <div>
            <label for="mypageEmail">이메일</label>
            <input type="text" id="mypageEmail" th:value="${mypageInfo.EMAIL}" th:field="*{EMAIL}" />
        </div>
        <div>
            <label for="mypageNickname">닉네임</label>
            <input type="text" id="mypageNickname" th:value="${mypageInfo.NICKNAME}" th:field="*{NICKNAME}" />
        </div>
        <button type="submit">수정 완료</button>
    </form>
</div>
</body>
</html>

<!--http://localhost:8111/mypage/modify-->
