<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIND NIMO!</title>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
</head>
<div th:replace="fragments/header::header"></div>
<body class="container">
<div class="form-container">
    <h1>마이 페이지</h1>
    <p><span th:text="${id}"></span>님의 My Page</p>
    <!--<form th:action ="@{/mypage/modify}" method="get">-->
        <a th:href="@{/mypage/modify}">회원 정보 수정</a>
        <a th:href="@{/mypage/myParcel}">나의 분양 게시판</a>
        <a th:href="@{/mypage/mypageReview}">나의 후기 게시판</a>
        <a th:href="@{/mypage/logout}">로그아웃</a>
        <a th:href="@{/mypage/deleteConfirm}">회원 탈퇴</a>
    <!--</form>-->
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>

<!--http://localhost:8111/mypage/mypageMain-->