<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:replace="fragments/header::header"></div>
<body class="container">
<h1>분양 게시판</h1>
<p>안녕하세요, <span th:text="${id}"></span>님!</p>
<a th:href="@{http://localhost:8111/parcel/parcelInsert}">글쓰기</a>
<table >
    <thead>
    <tr>
        <th>제목</th>
        <th>글 내용</th>
        <th>image</th>
        <th>글쓴이</th>
        <th>글쓴이 아이디</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pp : ${plist}">
        <td style="display: none;"> <!-- 숨김 스타일 -->
            <span th:text="${pp.pno}"></span>
        </td>
        <td>
            <a th:href="@{'/parcel/parcel?pno=' + ${pp.pno}}" th:text="${pp.title}"></a>
            <!--여기서 detailPage 부분에 parcel 상세 페이지 링크 넣어주세요-->
        </td>
        <td th:text="${pp.content}"></td>
        <td th:text="${pp.image}"></td>
        <td th:text="${pp.nickname}"></td>
        <td th:text="${pp.members_id}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>