<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2>글 상세내용</h2>
<body class="container">
<div th:replace="fragments/header::header"></div>
<div class="form-container">
    <div class="form-container">

        <div th:each="pp : ${parcelmain}">
            <form th:action="@{/parcel/parcelUpdate}" th:object="${pmain}" method="post">
                <div>
                    <input type="text" readonly="readonly" th:value="${pp.title}"></input>
                </div>
                <input type="hidden" th:name="pno" th:value="${pp.pno}"/>
                <div>
                    <img th:src="${pp.image}" alt="Image">
                </div>
                <div>
                    <span th:text="${pp.content}"></span>
                </div>
                <div>
                    <span th:text="${pp.nickname}"></span>
                </div>
                <button type="submit" name="action" value="update">분양받기</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>