<!DOCTYPE html>
<!-- 후기 게시판 뷰 페이지 -->
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 게시판</title>
    <link rel="stylesheet" th:href="@{/css/review_css/reviewStyle.css}">
</head>
<body class="container">
   <table>
       <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="review : ${reviewBoard}">
                <td th:text="${review.rno}"></td>
                <td th:text="${review.reviewID}"></td>
                <td>
                    <a th:href ="@{/review/reviewDetail(rno=${review.rno})}" th:text="${review.reviewTitle}"></a> <!-- a 태그로 후기 상세페이지 연결하는 a태그 -->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- 후기 작성이나 이 페이지가 아니라 마이페이지로 옮길 예정-->
   <!-- each 문써야됨 -->
    <form th:action="@{/review/reviewTest?pno =${}" th:object ="${reviewTest}" method="get">
        <input type ="text" th:type ="${reviewTest.reviewPno}">
        <button type ="submit">후기 등록</button>
    </form>
</body>
</html>