<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reviewStyle.css}">
</head>
<body class="container">
<table>
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>번호</th>-->
<!--        <th>아이디</th>-->
<!--        <th>제목</th>-->
<!--    </tr>-->
<!--    </thead>-->

    <div class = "reviewDetail">
        <div>
            <h1 th:text ="${reviewDetail.title}"></h1>
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>

</table>
</body>
</html>