<!DOCTYPE html>
<!-- 후기 게시판 뷰 페이지 -->
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 게시판</title>
    <link rel="stylesheet" th:href="@{/css/cssStyle.css}">
</head>
<div th:replace="fragments/header::header"></div>
<body class="container">
   <table>
       <thead>
            <tr>
                <th>닉네임</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="review : ${reviewBoard}">
                <td th:text="${review.reviewNickName}"></td>
                <td>
                    <a th:href ="@{/review/reviewDetail(rno=${review.rno})}" th:text="${review.reviewTitle}"></a> <!-- a 태그로 후기 상세페이지 연결하는 a태그 -->
                </td>
            </tr>
        </tbody>
    </table>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>